table.fc
{
	width: 100vw;
	height: 100vh;
	border-spacing: 0;
}

td.cell
{
	width: 50%;
	height: 50%;
	border-style: solid;
	border-spacing: 0;
}

td.colorA
{
	background-color: aqua;
}

td.colorB
{
	background-color: burlywood;
}