.ButtonDialogOpen {
  display: list-item;

  border-radius: 0%;
  background-color: #f8f9fa;
  color: #000;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #f8f9fa;

  width: 100%;
}

.ButtonDialogOpen:hover {
  color: #000;
  background-color: #d3d4d5;
  border: 1px solid #c6c7c8;
  border-radius: 0%;
}

.DialogContent {
  background-color: #d9d9d9;
}

.DialogTitle {
  text-align: center;
  font-weight: 600;

  /* put text in bold */

  text-transform: bold;

  /* set minimum and maximum font size */
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.List {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.SelectedItem {
  background-color: #939292;
  margin: 1;
  display: "inline-block";
  text-align: center;
  border-radius: 1vh;
  font-weight: 500;
}

.SelectedItem:hover {
  background-color: #939292;
}

.Item {
  background-color: #c1c0c0;
  margin: 1;
  display: "inline-block";
  text-align: center;
  border-radius: 1vh;
  font-weight: 500;
}

.Item:hover {
  background-color: #939292;
}

.StartGameButton {
  background-color: #c1c0c0;
  margin: 1;
  left: 50%;
  transform: translateX(-50%);
  display: "inline-block";
  text-align: center;
  border-radius: 1vh;
  font-weight: 500;
  color: black;
  text-transform: none;
  font-size: 18px;
}

.StartGameButton:hover {
  background-color: #939292;
}

.Box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Avatar {
  width: 60px;
  height: 60px;
}

.SwitchCard {
  height: 64px;
  position: relative;
  background-color: #d0d0d0;
}

.Root {
  width: 80px;
}

.Base {
  color: #26640a;

  top: 50%;
  transform: translateY(-50%);
}

.Base:hover {
  background-color: none;
  /* background-color: #B0B0B0; */
}

.Checked {
  top: 50%;

  transform: translate(40px, -50%) !important;
}

/* The background of checked when hover should not be transparent */
.Checked:hover {
  background-color: none;
  /* background-color: #B0B0B0 !important; */
}

.Track {
  border-radius: 20px;
  background: linear-gradient(to right, #26640a, rgb(43, 100, 185));
}
