.channel-box-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.channel-reload-button-wrapper {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.channel-box {
	min-width: 400px;
	min-height: 150px;
	max-width: 400px;
	max-height: 150px;
	background-color: #f0f0f0;
	border: 5px solid #ccc;
	border-radius: 10px;
	margin: auto;
	margin-top: 20px;
	display: flex;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	min-width: 320;
}

.channel-box:hover {
	background-color: rgba(0, 0, 0, 0.05);
	color: aliceblue;
	cursor: pointer;
}

.channel-box .owner {
	width: 30%;
	height: 100%;
	text-align: center;
	display: block;
	margin: auto;
}

.channel-box .owner .ownerUsername {
	text-align: center;
}

.channel-box .owner .ownerimg {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
}

.channel-box .channelInfo {
	width: 70%;
	height: 150px;
	text-align: center;
	padding-top: 10px;
}

.channel-box .channelInfo .channelName {
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	word-wrap: break-word;
	padding: 0px 10px 0px 10px;
	align-items: center;
	font-size: large;
	color: black;
}

.channel-box .channelInfo .channelMode {
	margin-bottom: 0;
	text-align: center;
	color: rgba(0, 0, 0, 0.63);
}

/* CHANNEL FORM */

.channel-content-wrapper {
	height: 100vh;
	position: relative;
	background-color: rgb(170, 170, 170);
	left: 80px;
	width: calc(100% - 80px);
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

.channel-content-wrapper::-webkit-scrollbar {
	width: 10px;
}
.channel-content-wrapper::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.channel-content-wrapper::-webkit-scrollbar-thumb {
	background: #888;
}
.channel-content-wrapper::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.channel-form {
	width: 400px;
	margin: 20px auto;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.channel-form label {
	display: block;
	margin-bottom: 8px;
}

.channel-form input,
select {
	width: 100%;
	padding: 8px;
	margin-bottom: 12px;
	box-sizing: border-box;
}

.channel-form-button {
	background-color: #4caf50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-non-ready {
	background-color: red;
}

/* CHANNEL_LIST */

.channel-list-bar {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	width: 100%;
}

.channel-list-bar::-webkit-scrollbar {
	display: none;
}

.channel-list-bar-ul {
	background-color: grey;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

.channel-bar-button {
	width: 80px;
	height: 80px;
	display: block;
	position: relative;
}

.channel-badge {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	display: block;
	object-fit: cover;
	margin: 7.5px;
}

.selected {
	border: 3px solid rgb(11, 2, 22);
	border-radius: 30%;
}

.channel-badge:hover {
	cursor: pointer;
}

.channel-badge:hover+.channel-show-name {
	display: block;
}

.channel-show-name {
	position: relative;
	top: -40px;
	left: 200%;
	width: 150px;
	display: none;
	text-align: center;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 10px;
	border-radius: 10px;
	z-index: 30;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.separator {
	width: 60px;
	height: 5px;
	background-color: rgb(180, 180, 180);
	margin-left: 10px;
	border-radius: 25%;
}

.channel-add-cross {
	color: whitesmoke;
}



.channel-password-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	/* z-index: 1000; */
}

.channel-password-wrap {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.channel-password-input {
	/* position: relative; */
	/* top: 10px;/ */
	width: 50%;
	height: 30%;
	margin-top: 45px;
	color: black;
	background-color: white;
	/* margin: 0 auto */
}

.channel-password-button {
	position: relative;
	top: -44px;
	left: 25%;
	width: 25%;
	height: 30%;
}

.channel-show-password-button {
	position: relative;
	border: 2px solid white;
	top: -130px;
	width: fit-content;
	left: 77%;
	color: white;
}

.green {
	color: green;
}

.white {
	color: white;
}

.bc-green {
	background-color:#4caf50
}

.red {
	color: red
}

.password-submit-message {
	animation-name: myAnimation;
	animation-duration: 4000ms;
	animation-fill-mode: forwards;
	position: absolute;
}

@keyframes myAnimation {
	0% {
		position: absolute;
		/* color: red; */
		opacity: 1;
	}

	50% {
		opacity: 1;
	}

	100% {
		display: none;
		opacity: 0;
	}
}


/* CHANNEL CHAT */

.channel-member-bar {
	position: absolute;
	top: 0px;
	left: 0px;

	height: 100%;
	width: 300px;

	overflow-y: auto;

	background-color: lightgray;

}

.channel-member-bar::-webkit-scrollbar {
	width: 10px;
}

.channel-member-bar::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.channel-member-bar::-webkit-scrollbar-thumb {
	background: #888;
}

.channel-member-bar::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.channel-top-bar {
	position: relative;
	background-color: grey;
	display: flex;
	overflow: hidden;
	width: auto;
	left: 300px;
	height: 80px;
	width: calc(100% - 300px);
}

.channel-top-bar-img {
	width: 70px;
	height: 70px;
	margin: 5px;
	margin-left: 10px;
	border-radius: 50%;
	object-fit: cover;
}

.channel-top-bar-name {
	margin: auto;
	width: 80%;
	margin-left: 20px;
	font-size: 25px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 800;
	color: aliceblue;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.channel-setting-button-wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
}

.channel-setting-button {
	width: 250px;
	height: 80px;
	margin: auto;
	margin-top: 10px;
	background-color: #555;
	color: aliceblue;
	border-radius: 20px;
	border: 4px solid #4b4b4b;
	display: flex;
}

.leave {
	background-color: rgba(247, 38, 38, 0.952);
	border: 0px;
	user-select: none;
	text-align: center;
}

.channel-setting-button:hover {
	cursor: pointer;
}

.channel-setting-button p {
	margin: auto;
	width: fit-content;
	height: fit-content;
	font-size: 25px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 800;
}

.channel-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.channel-overlay-wrapper {
	min-width: 500px;
	width: 60%;
	height: fit-content;
	max-height: 90%;
	margin: 0 auto;
	background-color: lightgray;
}

.channel-form-separator {
	width: 100%;
	height: 5px;
	background-color: rgb(180, 180, 180);
	margin: 10px auto 10px auto;
	border-radius: 25px;
}

.channel-update-close-button {
	margin-top: 30px
}



.channel-member-list-name {
	margin-left: 10px;
	width: 70%;
	font-size: larger;
	font-weight: 600;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.channel-troll-button-wrapper {
	margin: auto;
}

.channel-troll-button {
	margin: 10px 10px 0px 10px;
	width: 70px;
	height: 40px;
	color: aliceblue;
	border: 0px;
	border-radius: 30px;
}

.yes {
	background-color: #4caf50;
}

.no {
	background-color: red;
}

.text-area-wow {
	position: relative;
	/* display: block; */
	left: 300px;
	width: calc(100% - 300px);
	height: calc(100% - 80px);
	background-color: rgb(170, 170, 170);
	z-index: 20;
}

.wrappi {
	height: fit-content;
	margin: auto;
	margin-left: 0px;
}

.margin-left-10px {
	margin-left: 10px;
	margin-bottom: 10px;
}

.margin-bottom-0px {
	margin-bottom: 0px;
}

.margin-cu {
	margin-top: 11px;
}

.left-but {
	margin: auto;
	margin-right: 10px;
}

.channel-info {
	color: rgb(90, 90, 90);
	width: fit-content;
	margin: auto;
}