.printCard {
  margin-left: 5%;  
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 35px;
  margin-right: 3%;
  object-fit: cover;
  padding: 10px;
}

.card .name {
  display: flex;
  flex-direction: column;
}

.content {
  /* margin-top: 3%; */
  margin-left: 20%;
  min-height: 100vh;
}

/* pending */
.pending .PP{
  margin-left: 10%;
}

.pending .card{
  width: 80%;
}

.pending .name{
  width: 35%;
}

.round-button {
  width: 10%;
  margin-right: 5%;

  border: none;
  background-color: #a0a0a000;
  cursor: pointer;

}

.acceptBtn{
  color: green;
  cursor: pointer;
}

.refuseBtn{
  color: red;
  cursor: pointer;
}

.blockBtn{
  color: blue;
  cursor:pointer;
}


/* profil */

.header-bar {
	background-color: #939393;
  position: fixed;
  display: flex;
  top: 0;
  width: 80%;
  height: 75px;
  z-index: 500;
}

.profil {
  position: relative;
  top: 80px;
}

.profil .PP{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.profil .information{
  margin-left: 3%;
  margin-right: 3%;
}





/* friendList */

.friendList .card{
  min-width: 300px;
  max-width: 400px;
  width: 30%;
}

.friendList .PP{
  margin-left: 10%;
}

.friendList .name{
  width: 60%;
}




/* blocked */
.blocked .card{
  width: 55%;
  margin-left: 10%;
}

.blocked .PP{
  margin-left: 10%;
  width: 10%;
}

.blocked .name{
  width: 40%;
}





/* match */

.matchHistory{
  z-index: -1;
  position: absolute;
  height: 90%;
  min-height: 90%;
  top: 5%;
  bottom: 5%;
  width: 90%;
  left: 5%;
  right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: hidden;
  overflow-x: hidden;
}

.matchHistory .content{
  overflow-y: auto;
  padding-right: 1px;
  padding-left: 1px;
}

.match{
  font-size: 40px;

  position: relative;
  display: grid;
  
  grid-template-columns: repeat(5, 1fr);
  
  justify-content: space-between;
  align-items: center;

  border-radius: 8px;
  margin-bottom: 20px;

  padding: 10px;
  
  background-color: #A0A0A0;
  width: 90%;
  overflow-x: auto;

  gap: 20px;
}

.match .victory{
  color: cyan;
}
.match .defeat{
  color: pink;
}
.match .tie{
  color: white;
}

.match .score {
  font-weight: bold;
}

/* Pop up */

.popUp{
  height: 230px;
  width: 140px;
  background-color: rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  position: 'absolute';
}

.popUp .btn{
  text-align: start;
  color: white;
  font-size: large;
}




/* Edit Profil */

.overlay{
  height: 100%;
  width: 100%;
  color:rgba(0, 0, 0, 0.70);
}

.QRCode{
    height: fit-content;
    min-height: 350px;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    text-align: center;
    padding-bottom: 20px;
    background-color: white;
}

.QRCode button{
  margin-left: 20px;
  margin-right: 20px;
  font-size: 40px;
}